img {
    max-height: 100%;
    max-width: 100%;
}

.shock {
    font-size: 40px;
}

blockquote, .MathJax_Display {
    background-color: aliceblue;
    padding: 1.5em;
    border-radius: 2em;
}

.remark-slide-content {
    background: radial-gradient(at top right, white 65%, blue);
}