img {
    max-height: 100%;
    max-width: 100%;
}

.shock {
    font-size: 40px;
}

blockquote {
    background-color: aliceblue;
    padding: 1.5em;
    border-radius: 2em;
}

.remark-slide-content {
    background-color: whitesmoke;
}