@{
    @* 
        Layout specified because this is the only page 
        in the folder that should use the default layout.
        The rest use the Remark layout located in this directory.
     *@
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Presentations";
}   
<h2>Presentations</h2>
<nav>
@Html.Partial("PresentationList")
</nav>