@{
    @* 
        Layout specified because this is the only page 
        in the folder that should use the default layout.
        The rest use the Remark layout located in this directory.
     *@
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Presentations";
}   
<h2>Presentations</h2>
<nav>
<ul>
    <li><a href="LeanEstimates/">Lean Estimates</a> - Presenting at <a href="https://www.stirtrek.com">StirTrek</a> 2017</li>
    <li><a href="Invest/">Invest</a> - Lunch &amp; Learn presentation 2016</li>
</ul>
</nav>