html {
	background-color: whitesmoke;
}

body {
    font-family: sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 2em;
}

header p {
  font-size: 1.5em;
}

header, footer {
	text-align: center;
	background: black;
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2%;
}

section#main {
	padding: 0 2%;
}