        <ul>
            <li>@Html.ActionLink("Crash Course Docker", "CrashCourseDocker", "Presentations") - Lunch & Learn presentation Oct. 2017</li>
            <li>@Html.ActionLink("Lean Estimates", "LeanEstimates", "Presentations") - Presented at <a href="https://www.stirtrek.com">StirTrek</a> 2017</li>
            <li>@Html.ActionLink("Invest", "Invest", "Presentations") - Lunch & Learn presentation 2016</li>
        </ul>