        <ul>
            <li>
                <p>@Html.ActionLink("Implementing a Custom Elixir Logger (slides)", "ElixirLogger", "Presentations") - Presented at <a href="https://www.columbuselixir.com/">Columbus Elixir</a> Sept. 3rd 2019</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AckwQLNfk4I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </li>
            <li>@Html.ActionLink("Crash Course Docker", "CrashCourseDocker", "Presentations") - Lunch & Learn presentation Oct. 2017</li>
            <li>@Html.ActionLink("Lean Estimates", "LeanEstimates", "Presentations") - Presented at <a href="https://www.stirtrek.com">StirTrek</a> 2017</li>
            <li>@Html.ActionLink("Invest", "Invest", "Presentations") - Lunch & Learn presentation 2016</li>
        </ul>